#password,
#confirm {
  input {
    display: block !important;
    width: 100% !important;
  }
}

.pass-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 14px;
  .react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus{
      background-color: transparent;
  }
  .react-tel-input .country-list .country.highlight,
  .react-tel-input .flag-dropdown,
  .react-tel-input .country-list .country:hover{
      background-color: rgb(75 105 165 / var(--tw-bg-opacity)) ;
  }
  .react-tel-input .country-list {
      outline: none;
      z-index: 1;
      list-style: none;
      position: absolute;
      padding: 0;
      margin: 10px 0 10px -1px;
      box-shadow: 1px 2px 10px rgba(0,0,0,0.35);
      background-color: rgb(17 24 39 / var(--tw-bg-opacity));
      width: 300px;
      max-height: 200px;
      overflow-y: scroll;
      border-radius: 0 0 3px 3px;
  }
  .react-tel-input .flag-dropdown.open .selected-flag,
  .react-tel-input .flag-dropdown.open{
      background-color: transparent;
  }
  .react-tel-input .form-control {
      position: relative;
      font-size: 14px;
      letter-spacing: .01rem;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-left: 48px;
      margin-left: 0;
      background: transparent;
      border: none;
      border-radius: 5px;
      line-height: 25px;
      height: 100%;
      width: 100%;
      outline: none;
  }
  .react-tel-input .flag-dropdown {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 0;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 3px 0 0 3px;
      .react-tel-input .country-list{

      }
  }
}

